@charset "UTF-8";
.bottom_border {
  text-align: center;
  position: relative;
  margin-bottom: 1em; }
  .bottom_border:before {
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: -15%;
    width: 30px;
    height: 2px;
    transform: translateX(-50%);
    background-color: #000;
    border-radius: 1px; }

.bottom_border {
  text-align: center;
  position: relative;
  margin-bottom: 1em; }
  .bottom_border:before {
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: -15%;
    width: 30px;
    height: 2px;
    transform: translateX(-50%);
    background-color: #000;
    border-radius: 1px; }

.start {
  position: relative;
  text-align: center; }
  .start .button-link {
    position: absolute;
    width: min(50%, 200px);
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; }
  .start picture {
    position: relative; }
    .start picture img,
    .start picture source {
      height: 100vh;
      width: 100%; }
  .start .title-img {
    position: absolute;
    width: 90%;
    top: 3.3%;
    left: 50%;
    transform: translateX(-50%); }
    @media screen and (max-width: 608px) {
      .start .title-img {
        width: 80%; } }
    @media screen and (max-width: 480px) {
      .start .title-img {
        width: 90%; } }
  .start .quiz-title {
    position: absolute;
    width: 90%;
    top: 55%;
    left: 50%;
    transform: translateX(-50%); }
    @media screen and (max-width: 768px) {
      .start .quiz-title {
        display: grid;
        height: 45%;
        align-items: center;
        margin: 0 auto;
        bottom: 0; } }
    .start .quiz-title .q-btn-head {
      background: #0260C3;
      display: inline-block;
      color: #fff;
      font-size: 210%; }

.main-quiz-title {
  display: flex;
  gap: 5px;
  justify-content: center;
  position: absolute;
  width: 90%;
  top: 60%;
  left: 50%;
  transform: translateX(-50%); }
  @media screen and (max-width: 812px) {
    .main-quiz-title {
      flex-wrap: wrap;
      top: 50%;
      column-gap: 10px;
      row-gap: 20px; } }
  @media screen and (max-width: 608px) {
    .main-quiz-title {
      top: 45%; } }
  @media screen and (max-width: 480px) {
    .main-quiz-title {
      top: 40%; } }
  .main-quiz-title span {
    width: 75px;
    height: 75px;
    line-height: 75px;
    background: #0260C3;
    color: #fff;
    font-size: clamp(20px, 4vw, 46px); }
    @media screen and (max-width: 812px) {
      .main-quiz-title span {
        width: 60px;
        height: 60px;
        line-height: 60px; } }

.q-btn-wrapper {
  position: relative;
  height: 260px; }
  .q-btn-wrapper button {
    background: transparent;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    width: 94%;
    margin: 0 1vw;
    position: relative; }
    @media screen and (max-width: 768px) {
      .q-btn-wrapper button {
        width: 96%; } }
    @media screen and (max-width: 608px) {
      .q-btn-wrapper button {
        width: 98%; } }
    @media screen and (max-width: 480px) {
      .q-btn-wrapper button {
        width: 100%; } }
    .q-btn-wrapper button:nth-child(1) {
      position: absolute;
      top: 0; }
    .q-btn-wrapper button:nth-child(2) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    .q-btn-wrapper button:nth-child(3) {
      position: absolute;
      bottom: 0; }
    .q-btn-wrapper button span {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      line-height: 70px; }
      @media screen and (max-width: 768px) {
        .q-btn-wrapper button span {
          width: 70px;
          height: 70px;
          line-height: 70px; } }
      @media screen and (max-width: 480px) {
        .q-btn-wrapper button span {
          width: 60px;
          height: 60px;
          line-height: 60px;
          font-size: 100%; } }
    .q-btn-wrapper button .q-btn-txt {
      padding: 15px 8vw;
      color: #fff;
      font-weight: bold;
      border: 2px solid #fff;
      border-radius: 10px;
      flex-grow: 1;
      text-align: start;
      position: absolute;
      z-index: -10;
      left: 4vw;
      width: 98%;
      font-size: clamp(2rem, 3vw, 2.4rem);
      height: 70px;
      display: flex;
      align-items: center; }
      @media screen and (max-width: 768px) {
        .q-btn-wrapper button .q-btn-txt {
          padding-left: 70px;
          padding-right: 35px;
          width: 90%;
          line-height: 1.5; } }
      @media screen and (max-width: 480px) {
        .q-btn-wrapper button .q-btn-txt {
          padding: 10px 30px;
          padding-left: 60px; } }

.bg-orange {
  background: #f1b259; }

.bg-green {
  background: #6ece4d; }

.bg-purple {
  background: #b283db; }

.question {
  position: absolute;
  width: 90%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 768px) {
    .question {
      max-width: 490px;
      top: 14%; } }
  @media screen and (max-width: 608px) {
    .question {
      width: 95%; } }
  .question .question-title {
    width: max-content;
    padding: 20px 50px 5px;
    margin: 0 auto -5px;
    position: relative;
    font-size: 3.6rem;
    color: #0260C3; }
    .question .question-title::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      border-top-left-radius: 100%;
      z-index: -10;
      background-color: #fff;
      border-left: 4px solid #0260C3;
      border-top: 4px solid #0260C3; }
    .question .question-title::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 51%;
      height: 100%;
      border-top-right-radius: 100%;
      z-index: -10;
      background-color: #fff;
      border-right: 4px solid #0260C3;
      border-top: 4px solid #0260C3; }
  .question .question-content {
    background-color: #fff;
    padding: 10px 4vw;
    border: 4px solid #0260C3;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    z-index: -30;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #03056c;
    white-space: pre-wrap; }
    @media screen and (max-width: 768px) {
      .question .question-content {
        width: 95%;
        left: 50%;
        transform: translate(-50%); } }

.rest-time {
  position: absolute;
  top: -93vh;
  right: 6%;
  z-index: 100; }

.bg-pink {
  background-color: #ff80bc;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  font-size: 3rem;
  margin: 0 5px; }

.circle {
  border-radius: 50%;
  border: 30px solid red;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.cross {
  width: 300px;
  height: 30px;
  background: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg); }
  .cross:after {
    content: '';
    width: 30px;
    height: 300px;
    background: red;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%); }

.finger-doll {
  position: absolute;
  right: 0;
  bottom: 5px;
  z-index: 30; }
  @media screen and (max-width: 768px) {
    .finger-doll {
      max-width: 20%;
      bottom: 0; } }
  @media screen and (max-width: 480px) {
    .finger-doll {
      max-width: 15%; } }

.answer-head {
  position: absolute;
  top: 50px;
  left: 5%;
  right: 5%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .answer-head .answer-title {
    font-size: 300%;
    color: #0260C3;
    -webkit-text-stroke: 2px #fff;
    text-shadow: 2px 3px 3px #0260C3; }
  .answer-head .answer-text {
    color: #03056c;
    font-size: 200%;
    border-bottom: 7px solid #d9f649;
    padding-bottom: 5px; }
    @media screen and (max-width: 480px) {
      .answer-head .answer-text {
        font-size: 160%; } }
  .answer-head .answer-bg-pink {
    width: 70px;
    height: 70px;
    line-height: 70px; }

.answer-foot {
  position: absolute;
  bottom: 25px;
  left: 5%;
  right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 10; }

.answer-body {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3%;
  right: 3%;
  z-index: 10;
  text-align: left; }
  @media screen and (max-width: 480px) {
    .answer-body {
      top: 54%; } }
  .answer-body img {
    width: min(50%, 300px); }
  .answer-body .answer-body-text, .answer-body .answer-body-text2 {
    background: #fff;
    padding: 20px 20px 12vh 20px;
    border-radius: 5px;
    font-size: clamp(1.8rem, 3vw, 2.4rem);
    color: #03056c;
    margin: 0 4vw;
    text-decoration: underline;
    text-align: justify; }
    @media screen and (max-width: 812px) {
      .answer-body .answer-body-text, .answer-body .answer-body-text2 {
        padding-bottom: 15vh; } }
  .answer-body .answer-body-text2 {
    text-decoration: none;
    background: linear-gradient(transparent 0, #d9f649 0);
    display: inline-block;
    position: absolute;
    bottom: 20px;
    padding: 5px;
    left: 20px;
    right: 20px;
    text-align: center;
    width: 83%;
    margin: 0 auto; }
  .answer-body .answer-body-text-wrapper {
    position: relative; }

.next_quiz_btn {
  position: absolute;
  bottom: 13%;
  width: 300px;
  left: 50%;
  transform: translateX(-50%); }

.final-head {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%; }

.final-title {
  position: absolute;
  top: 5%;
  left: 0;
  line-height: 60px; }
  @media screen and (max-width: 768px) {
    .final-title {
      top: 30%; } }
  @media screen and (max-width: 480px) {
    .final-title {
      top: 40%; } }
  .final-title span {
    width: 50px;
    height: 50px;
    background-color: #0260C3;
    color: #fff;
    padding: 10px;
    font-size: 3rem; }

.final-body {
  position: absolute;
  width: 100%;
  top: 30%;
  font-size: clamp(3rem, 16vw, 15rem);
  color: #fff;
  -webkit-text-stroke: 6px #ff80bc; }
  @media screen and (max-width: 768px) {
    .final-body {
      -webkit-text-stroke: 4px #ff80bc; } }
  @media screen and (max-width: 480px) {
    .final-body {
      top: 40%;
      -webkit-text-stroke: 3px #ff80bc; } }

.final-foot {
  position: absolute;
  bottom: 3%;
  left: 5%;
  right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.final-finger {
  width: 15%; }
  @media screen and (max-width: 480px) {
    .final-finger {
      width: 40%; } }

.final-text {
  position: relative;
  margin: 2em 0 2em 40px;
  padding: 15px;
  background: #fff;
  border-radius: 30px;
  border: 2px solid #03056c; }
  .final-text::before {
    content: '';
    position: absolute;
    left: -38px;
    width: 13px;
    height: 12px;
    bottom: 0;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #03056c; }
  .final-text::after {
    content: "";
    position: absolute;
    left: -24px;
    width: 20px;
    height: 18px;
    bottom: 3px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #03056c; }
  .final-text p {
    padding: 10px 20px;
    font-size: clamp(2rem, 6vw, 3rem);
    color: #03056c; }
    @media screen and (max-width: 768px) {
      .final-text p {
        padding: 10px 0; } }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-size: 1.6rem;
  font-family: "ヒラギノ角ゴ StdN W8", Arial, Helvetica, sans-serif;
  color: #333;
  letter-spacing: 0.05em;
  line-height: 1.6; }

img,
iframe {
  max-width: 100%;
  vertical-align: bottom; }

source {
  width: 100%;
  margin-top: 50px; }

a {
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  color: #333; }
  a:hover {
    opacity: 0.7;
    cursor: pointer; }

section {
  padding-top: 5vh; }

.sp-br {
  display: none; }
  @media screen and (max-width: 480px) {
    .sp-br {
      display: block; } }

.tablet-br {
  display: none; }
  @media screen and (max-width: 768px) {
    .tablet-br {
      display: block; } }

.container {
  max-width: 1100px;
  margin: 0 auto; }

.title {
  font-size: clamp(18px, calc(18px + 1.5vw), 34px);
  font-weight: bold;
  text-align: center;
  padding: 50px 10px; }

button {
  background: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 999999; }
  button:hover {
    cursor: pointer; }

.white-space {
  white-space: pre-wrap; }

/*# sourceMappingURL=style.css.map */
