@import 'mixins';
@import 'valiables';

.start{
  position:relative;
  text-align: center;

  .button-link{
    position: absolute;
    width: min(50%, 200px);
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  picture{
    position: relative;
    img,
    source{
      height: 100vh;
      width: 100%;
    }
  }
  .title-img{
    position: absolute;
    width:90%;
    top: 3.3%;
    left: 50%;
    transform: translateX(-50%);

    @include mq(sp-wide){
        width: 80%;
    }
    @include mq(sp){
        width: 90%;
    }
  }

  .quiz-title{
    position: absolute;
    width: 90%;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);

    @include mq(tablet){
    display: grid;
    align-items: center;
    margin: 0 auto;
    }

  .q-btn-head{
    background: $main-color;
    display: inline-block;
    color: #fff;
    font-size: 210%;
  }
}

}

// 選挙がもっと近くなるクイズ
  .main-quiz-title{
    display: flex;
    gap: 5px;
    justify-content: center;
    position: absolute;
    width: 90%;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    @include mq(tablet-wide){
      flex-wrap: wrap;
      top: 50%;
      column-gap: 10px;
      row-gap: 15px;
    }
    @include mq(sp-wide){
      top: 40%;
    }
    @include mq(sp){
      top: 35%;
    }

    span{
     width: 75px;
     height: 75px;
     line-height: 75px;
     background: $main-color;
     color: #fff;
     font-size: clamp(30px,4vw,46px);
     @include mq(tablet-wide){
     width: 60px;
     height: 60px;
     line-height: 60px;
    }
     @include mq(sp){
     width: 55px;
     height: 55px;
     line-height: 55px;
    }
   }
  }

.q-btn-wrapper{
  position: relative;
  height: 260px;
  @include mq(sp) {
    height: 220px;
  }
  button{
    @include btnStyle;
    position: absolute;
    left:0;
    display: flex;
    align-items: center;
    width: 94%;
    margin: 0 1vw;
    position: relative;
    @include mq(tablet){
      width: 96%;
    }
    @include mq(sp-wide){
      width: 98%;
    }
    @include mq(sp){
      width: 100%;
    }

   &:nth-child(1){
    position: absolute;
    top: 0;
   }
  &:nth-child(2){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &:nth-child(3){
    position: absolute;
    bottom: 0;
  }
    span{
      border-radius: 50%;
      width: 70px;
      height: 70px;
      line-height: 70px;
      @include mq(tablet){
      width: 70px;
      height: 70px;
      line-height: 70px;
      }
      @include mq(sp){
      width: 60px;
      height: 60px;
      line-height: 60px;
      font-size: 100%;
      }
    }
    .q-btn-txt{
      padding: 15px 8vw;
      color: #fff;
      font-weight: bold;
      border: 2px solid #fff;
      border-radius: 10px;
      flex-grow:1;
      text-align: start;
      position: absolute;
      z-index: -10;
      left: 4vw;
      width: 98%;
      font-size: clamp(2rem, 3vw, 2.4rem);
      height: 70px;
      display: flex;
      align-items: center;
      @include mq(tablet){
        padding-left: 70px;
        padding-right: 35px;
        width: 90%;
        line-height: 1.5;
      }
      @include mq(sp){
        padding: 10px 30px;
        padding-left: 60px;

      }
    }
  }
}
.bg-orange{
 background: #f1b259;
}
.bg-green{
 background: #6ece4d;;
}
.bg-purple{
 background: #b283db;;
}
.question{
  position: absolute;
  width: 90%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq(tablet){
    max-width: 490px;
    top: 15%;
  }
  @include mq(sp-wide){
    width: 95%
  }


  .question-title{
    font-weight: bold;
    width: max-content;
    padding: 20px 50px 0;
    margin: 0 auto -5px;
    position: relative;
    font-size: clamp(3.2rem, 4vw, 3.8rem);
    color: $main-color;
    -webkit-text-stroke: 1.5px #cdeefd;

    text-shadow: 1px 3px 2px #0000009c;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-top-left-radius: 100%;
    z-index: -10;
    background-color: #fff;
    border-left: 4px solid $main-color;
    border-top: 4px solid $main-color;
  }
  &::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 51%;
    height: 100%;
    border-top-right-radius: 100%;
    z-index: -10;
    background-color: #fff;
    border-right: 4px solid $main-color;
    border-top: 4px solid $main-color;
  }
}
  .question-content{
    background-color: #fff;
    padding: 10px 4vw;
    border: 4px solid $main-color;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    z-index: -30;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: $sub-color;
    white-space: pre-wrap;
    font-size: clamp(20px, 3vw, 34px);
    text-align: left;
    @include mq(tablet){
      width: 95%;
    left: 50%;
    transform: translate(-50%);
     height: 30vh;
    }
  }
}
.rest-time{
  position: absolute;
    top: -93vh;
    right: 6%;
    z-index: 100;
}
.bg-pink{
  background-color: $pink-color;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  font-size: clamp(20px, 3vw, 30px);
  margin: 0 5px;
}
.circle{
  border-radius: 50%;
  border: 30px solid red;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cross{
  width: 300px;
  height: 30px;
  background: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  &:after{
    content: '';
    width: 30px;
    height: 300px;
    background: red;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}

.finger-doll{
  position: absolute;
  right: 0;
  bottom: 5px;
  z-index: 30;
  @include mq(tablet){
    max-width: 20%;
    bottom:0;
  }
  @include mq(sp){
    max-width: 15%;
  }
}

.answer-head{
  position: absolute;
  top: 50px;
  left: 5%;
  right: 5%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include mq(sp){
    top: 30px;
  }

  .answer-title{
    font-size: clamp(28px, 4vw, 40px);
    -webkit-text-fill-color: $main-color;
    -webkit-text-stroke: 2px #fff;
    color: $main-color;
    text-shadow: 2px 3px 3px $main-color;
    @include mq(sp){
      -webkit-text-stroke: .5px #fff;
      text-shadow: 1px 1px 1px $main-color
    }
  }
  .answer-text{
    color: $sub-color;
    border-bottom: 7px solid #d9f649;
    padding-bottom: 5px;
    font-size: clamp(18px, 4vw, 30px);
  }
  .answer-bg-pink{
    width: 70px;
    height: 70px;
    line-height: 70px;
    @include mq(sp){
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
  }
}

.answer-foot{
  position: absolute;
  bottom: 25px;
  left: 5%;
  right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 10;
}

.answer-body{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3%;
  right: 3%;
  z-index: 10;
  text-align: left;
  height: 60%;
  // @include mq(sp){

  // }
  img{
    width: min(45%, 300px);
    margin-left: 3px;
  }
  .border{
    background-image: linear-gradient(180deg, rgba(100, 100, 100, 0) 0%, rgba(100, 100, 100, 0) 98%, #646464 100%);
    background-size: 100% 2em;
    line-height: 2em;
     padding: 0.2em 4vw;

    @include mq(tablet){
    padding: 0.2em;
    }
  }
  .answer-body-text{
    background-color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: clamp(1.6rem, 3vw, 2.2rem);
    color: $sub-color;
    margin: 0 1vw;
    text-align: justify;
    letter-spacing: -0.07em;
  }
  .answer-body-text2{
   @extend.answer-body-text;
   border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    padding:5px 0;
    left: 1vw;
    right: 1vw;
    text-align: center;
    margin: 0 auto;
  }
}

.next_quiz_btn{
  position: absolute;
  bottom: 10%;
  max-width: 300px;
  left: 50%;
  transform: translateX(-50%);
  @include mq(sp){
   bottom: 11%;
   width: 200px;
  }
}

.final-head{
  position: absolute;
  top: 5%;
  left:5%;
  right: 5%;
}

.final-title{
  position: absolute;
    top: 5%;
    left: 0;
    line-height: 60px;
    @include mq(tablet){
      top: 30%;
    }
    @include mq(sp){
      top: 40%;
    }
    span{
      width: 50px;
      height: 50px;
      background-color: $main-color;
      color: #fff;
      padding: 10px;
      font-size: 3rem;
    }
}
.final-body{
  position: absolute;
  width: 100%;
  top: 30%;
  font-size: clamp(3rem, 16vw, 15rem);
  color: #fff;
  -webkit-text-stroke: 6px $pink-color;
  @include mq(tablet){
 -webkit-text-stroke: 4px $pink-color;
  }
  @include mq(sp){
      top: 40%;
      -webkit-text-stroke: 3px $pink-color;
    }
}
.final-foot{
  position: absolute;
  bottom:3%;
  left: 5%;
  right: 5%;
  display: flex;
  justify-content: space-between;
   align-items: flex-start;
}
.final-finger{
  width: 15%;
  @include mq(sp-wide){
    width: 40%;
    align-self: flex-end;
  }
}
.final-text{
  position: relative;
  margin: 1em 0 2em 40px;
  padding: 10px 5px;
  background: #fff;
  border-radius: 30px;
  border: 2px solid $sub-color;
  @include mq(tablet){
    margin: 1em 0 5.5em 10px;
  }
  &::before{
    content: '';
  position: absolute;
  left: -38px;
  width: 13px;
  height: 12px;
  bottom: 0;
  background: #fff;
  border-radius: 50%;
  border: 2px solid $sub-color;
  }
  &::after{content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  bottom: 3px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid $sub-color;
  }
  p{
    padding: 0px 20px;
    font-size:  clamp(2rem, 6vw, 3rem);
    color: $sub-color;
    @include mq(tablet){
      padding: 0;
    }
  }
}
.yellow-line{
  background: linear-gradient(transparent 60%,#d9f649 60%);
}
.tag{
  background: linear-gradient(transparent 0, #d9f649 0);
  padding: 5px;
  border-radius: 5px;
  @include mq(sp){
    padding: 2px;
  }
}
.tag:not(:last-child){
  margin-right: 5px;
}
.challenge-btn{
  position: absolute;
  bottom: 30px;
  right: 42px;
  max-width: 350px;
  @include mq(tablet){
  left: 42px;
  margin: 0 auto;
  }
}

.box-img{
  max-width: 200px;
  @include mq(sp){
    width: 150px;
  }
}
